# Hide competition data and old files
Train.csv
Test.csv
Prior.csv
first_submission.csv
first_submission(2).csv
SampleSubmission.csv
submission.csv
DigiCow_pipeline.ipynb
*.pdf
__pycache__/
.ipynb_checkpoints/
