# Data files
Train.csv
Test.csv
Prior.csv
SampleSubmission.csv

# Submission files
*.csv
*.xls
*.xlsx

# Old notebooks
DigiCow_pipeline.ipynb
DigiCow_pipeline.ipynb.html
StarterNotebook.ipynb

# Jupyter checkpoints
.ipynb_checkpoints/
